doctype html
html(lang="en" class="no-js")
  head
    meta(charset="utf-8")
    title Hello, Tab

    script(src='/js/application.js')
    script(src='/js/components.js')
    link(href='/css/application.css' type="text/css" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700' type="text/css" rel="stylesheet")
    
  body
    
  
    //- - var colors = ["#fff", "#2ecc71", "#3498db", "#f1c40f", "#e74c3c", "#95a5a6"]
//-
//-     .o-application
//-       .o-application__header
//-         .o-header.o-header--default
//-           a(href='https://hellotab.com').c-brand.
//-             <svg id="hellotab" xmlns="http://www.w3.org/2000/svg" width="154" height="16" viewBox="0 0 154 16">
//-               <path id="hellotab__wordmark" fill="#666" d="M56.4 7h-4.2v-3.7h-2.2v10h2.2v-4.3h4.2v4.3h2.2v-10h-2.2v3.7zm9.2 2.2h4.3v-2h-4.3v-1.9h4.5v-2h-6.7v10h7v-2h-4.8v-2.1zm11.6-5.9h-2.2v10h6.2v-2h-4v-8zm10.2 0h-2.2v10h6.2v-2h-4v-8zm16.7 1.1c-.5-.5-1-.8-1.7-1.1-.7-.2-1.4-.3-2.2-.3-.8 0-1.5.1-2.1.4-.7.2-1.2.6-1.7 1.1-.5.5-.8 1-1.1 1.7-.3.7-.4 1.4-.4 2.2 0 .8.1 1.5.4 2.2s.6 1.2 1.1 1.7c.5.5 1 .8 1.7 1.1.7.2 1.4.4 2.1.4.8 0 1.5-.1 2.1-.4.7-.2 1.2-.6 1.7-1.1.5-.5.8-1 1.1-1.7.3-.7.4-1.4.4-2.2 0-.8-.1-1.5-.4-2.2-.2-.8-.6-1.3-1-1.8zm-1 5.2c-.1.4-.4.7-.6 1-.3.3-.6.5-1 .7s-.8.2-1.3.2-.9-.1-1.3-.2-.7-.4-1-.7c-.3-.3-.5-.6-.6-1-.1-.4-.2-.8-.2-1.3s.1-.9.2-1.3.3-.7.6-1c.3-.3.6-.5 1-.7.4-.2.8-.2 1.3-.2s.9.1 1.3.2c.4.2.7.4 1 .7.3.3.5.6.6 1 .1.4.2.8.2 1.3s-.1.9-.2 1.3zm6 5.4h1.8l1.3-4h-2l-1.1 4zm13.6-9.8h2.8v8.1h2.2v-8.1h2.8v-2h-7.8v2zm13.7-1.9l-4.3 10h2.4l.8-2.1h3.8l.9 2.1h2.5l-4.3-10h-1.8zm-.4 6l1.2-3.1 1.2 3.1h-2.4zm17.8.3c-.1-.3-.2-.5-.4-.7s-.4-.4-.7-.5l-.9-.3c.5-.2.9-.4 1.2-.8s.5-.8.5-1.4c0-.5-.1-1-.3-1.3-.2-.3-.5-.6-.8-.8s-.7-.3-1.2-.4c-.4-.1-.9-.1-1.3-.1h-3.7v10h4c.4 0 .9 0 1.3-.1s.8-.2 1.2-.5c.4-.2.6-.5.9-.9.2-.4.3-.8.3-1.3.1-.3 0-.6-.1-.9zm-5.4-4.5h1.5c.2 0 .3 0 .5.1s.3.1.5.2c.1.1.3.2.3.3.1.1.1.3.1.5s0 .4-.1.5c-.1.1-.2.3-.3.3s-.3.1-.4.2l-.5.1h-1.6v-2.2zm3.3 5.7c-.1.2-.2.3-.3.4s-.3.2-.5.2-.3.1-.5.1h-1.9v-2.4h2.2c.2 0 .4.1.6.2s.3.2.4.3c.1.1.2.3.2.6-.1.3-.1.4-.2.6z"/>
//-               <path id="hellotab__icon" fill="#666" d="M24.3 0h-14.6c-4.8 0-4 16-9.7 16h34c-4.8 0-3.9-16-9.7-16zm-3 12.6h-1.9v-3.7h-3.6v3.7h-1.9v-8.5h1.9v3.2h3.6v-3.2h1.9v8.5z"/>
//-             </svg>
//-
//-       .o-application__content
//-         form( action="#APP_HOST#/#uid#/messages" method="post" id="message-form" )
//-           .o-section.o-section--quote
//-             .o-section__body
//-
//-               .c-quote.c-quote--read
//-                 .c-quote__body
//-                 .c-quote__meta
//-                   .c-quote__date
//-                   .c-quote__undo
//-                     button.c-quote__undo__button.button--blank(data-action="message.undo")
//-                       span.c-quote__undo__icon.
//-                         <svg id="icon__undo" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="-2 20 15 15">
//-                           <path id="icon__undo__fill" fill="#ccc" d="M5.5 35c-2.2 0-4.3-1-5.8-2.7-.1-.1-.1-.3 0-.4l1.3-1.3c.1-.1.2-.1.2-.1.1 0 .2 0 .2.1 1 1.2 2.4 1.9 3.9 1.9 2.8 0 5-2.2 5-5s-2.2-5-5-5c-1.3 0-2.5.5-3.4 1.3l1.3 1.3c.2.2.2.4.1.7-.1.2-.3.4-.6.4h-4.4s-.3-.2-.3-.6v-4.4c0-.3.2-.5.4-.6.2-.1.5 0 .7.1l1.3 1.3c1.3-1.2 3.2-2 5.1-2 4.1 0 7.5 3.4 7.5 7.5s-3.4 7.5-7.5 7.5z"/>
//-                         </svg>
//-                       span.c-quote__undo__label Undo
//-                   .c-quote__favorite
//-                     button.c-quote__favorite__button.button--blank(data-action="message.like")
//-                       span.c-quote__favorite__icon.
//-                         <svg id="icon__heart" xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 23 18 15">
//-                           <path id="icon__heart__full" fill="#ccc" d="M8.6 37.8l-6.3-5.9c-.1-.1-2.3-2-2.3-4.4 0-2.8 1.8-4.5 4.8-4.5 1.8 0 3.4 1.3 4.2 2.1.8-.8 2.4-2.1 4.2-2.1 3 0 4.8 1.7 4.8 4.6 0 2.3-2.2 4.3-2.3 4.4l-6.3 5.9c-.1 0-.2.1-.4.1s-.3-.1-.4-.2z"/>
//-                           <path id="icon__heart__stroke" fill="#ccc" d="M13.2 25c2.5 0 2.8 1.5 2.8 2.6 0 1-.8 2.2-1.7 2.9l-5.3 5-5.3-5c-.5-.4-1.7-1.8-1.7-2.9 0-1.1.3-2.6 2.8-2.6.7 0 1.8.6 2.8 1.6l1.4 1.3 1.4-1.3c1-1 2-1.6 2.8-1.6m0-2c-1.8 0-3.4 1.3-4.2 2.1-.8-.8-2.4-2.1-4.2-2.1-3 0-4.8 1.7-4.8 4.6 0 2.3 2.2 4.3 2.3 4.4l6.3 5.9c.1 0 .2.1.4.1s.3-.1.4-.2l6.3-5.9c.1-.1 2.3-2.1 2.3-4.4 0-2.8-1.8-4.5-4.8-4.5z"/>
//-                         </svg>
//-                       span.c-quote__favorite__counter
//-
//-               .c-quote.c-quote--write
//-                 .c-quote__body(contenteditable)
//-                 .c-quote__meta
//-                   .c-quote__counter &nbsp;
//-
//-               .c-feedback
//-                 .c-feedback__body Slow down, buddy! <small>We appreciate your input but for now take<br> a break and try again later.</small>
//-                 .c-feedback__footer
//-                   button.button.button-primary( data-action="view.cancel" ) Alrighty, I'll try again later!
//-
//-       .o-application__footer
//-         .o-footer.o-footer--default
//-           .u-left
//-             .c-option
//-               label
//-                 input(type="checkbox", name="options.colors")
//-                 .c-option__checkbox
//-                 | Allow background colors
//-           .u-right
//-             input.button.button-link.c-share( type="text" data-action="view.share" value="Share")
//-             button.button.button-link.button-danger( href="#" data-action="view.report" ) Report
//-             button.button.button-primary( href="#" data-action="view.edit" ) Say something!
//-
//-         .o-footer.o-footer--edit
//-           .u-left
//-             .c-colorpicker
//-               each color, index in colors
//-                 label
//-                   input(type="radio", value=color, name="colorschema" checked= index == 0 || false)
//-                   .c-colorpicker__color(style="background-color: #{color};")
//-           .u-right
//-             button.button.button-link.button-danger( data-action="view.cancel" ) Cancel
//-             button.button.button-primary( type="submit" form="message-form" ) Submit message
