html
  head
    title f19n - Panel
    link(href="css/normalize.css" rel="stylesheet" type="text/css")
    link(href="css/panel.css" rel="stylesheet" type="text/css")
  body
    #app
    script(src="js/panel.js" type="text/javascript")
