html
  head
    title f19n - Popup
    link(href="css/normalize.css" rel="stylesheet" type="text/css")
    link(href="css/popup.css" rel="stylesheet" type="text/css")
  body
    #app
    script(src="js/popup.js" type="text/javascript")
