html
  head
    title FSO - Rules
    link(href="css/normalize.css" rel="stylesheet" type="text/css")
    link(href="css/rules.css" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
  body
    #app
    iframe(src="sandbox.html" style="display: none" id="sandbox")
    script(src="js/rules.js" type="text/javascript")
