html
  head
    title FSO
    script(src="js/ui.js" type="text/javascript")
    link(href="css/reset.css" rel="stylesheet" type="text/css")
    link(href="css/ui.css" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")

  body
    #app
