@import "definitions";

body,
html,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background: $backgroundColor;
  color: $primaryColor;
  font-family: $fontFamily;
  font-size: 10.5px;
  border-right: 1px solid $greyAccent;
}

// Icons
.ic {
  width: 14px;
  height: 14px;
  padding-right: 4px;
}

.f19n-rules .ic {
  width: 14px;
  height: 24px;
}

.ic--rules {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
}

// Utility Classes
.u-none {
  display: none !important;
}

.u-cf:before,
.u-cf:after {
  content: " ";
  display: table;
}

.u-cf:after {
  clear: both;
}

.u-floatLeft {
  float: left;
}

.u-floatRight {
  float: right;
}
