$backgroundColor: #eee;
$primaryColor: #333333;
$brandColor: #859900;

// greys
$backgroundColor: #FFFFFF;

$backgroundColorDark: #E8E8E8;
$backgroundColorLight: #F3F3F3;

$greyAccent: #CCCCCC;
$greyAccentLighter: #E1E1E1;
$greyAccentDarker: #A3A3A3;

// table stripes
$tableLight: #FFFFFF;
$tableDark: #F5F5F5;


// message colors
$errorColor: #EB3A42;
$errorColorBackground: #FFF0F0;
$errorColorBorder: #FED7D7;
$errorColorLink: red;

$warningColor: #F2BB00;
$warningColorBackground: #FFFBE6;
$warningColorBorder: #FFF6C6;
$warningColorLink: darkblue;

$infoColor: #2A53CD;
$infoColorLink: darkblue;

$ruleLinkColor: darkblue;

$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
