.Section {
  padding: 1em 0;
  border-bottom: 1px solid $greyAccent;
}

.edit-rule .error {
  background: #c9302c;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.edit-rule input {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
}

.edit-rule .ace_editor {
  margin: 10px 0;
}
    
