$panelWidth: 300px

html.show-f19n-panel
  left: $panelWidth !important
  position: relative !important
  width: calc(100% - #{$panelWidth}) !important

.f19n-panel-wrapper
  position: fixed
  top: 0px
  left: 0px
  bottom: 0px
  width: $panelWidth
  z-index: 99999
  background-color: #efefef

  iframe
    position: relative
    width: 100%
    width: $panelWidth
    height: 100%
    border: none
    box-shadow: non
    overflow: hidden
