html
  top: 100px !important
  position: relative !important

.FSOWidget
  position: fixed
  top: 0px
  left: 0px
  right: 0px
  height: 100px
  z-index: 99999
  background: #000
  opacity: .9

  iframe
    position: relative
    width: 100%
    height: 100px
