$panelWidth: 350px

html
  left: $panelWidth !important
  position: relative !important
  width: calc(100% - #{$panelWidth}) !important

.fso-panel-wrapper
  position: fixed
  top: 0px
  left: 0px
  bottom: 0px
  width: $panelWidth
  z-index: 99999
  background-color: #efefef

  iframe
    position: relative
    width: 100%
    width: $panelWidth
    height: 100%
    border: none
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2)
