body, html
  margin: 0

body
  color: #111
  background: #efefef
  font-family: 'Helvetica Neue', Verdana, Arial
  font-size: 12px

.f19n-panel

  .header
    position: relative
    padding: 2px 5px

    .brand
      margin: 0
      padding: 0

    a.close
      position: absolute
      right: 5px
      top: 5px
      cursor: pointer

  .results

    .result
      border-bottom: 1px #ccc solid
      padding: 5px
