@import "base"
@import "button"


a, a:visited
  color: $primaryColor

.Header
  position: relative
  font-size: 12px
  letter-spacing: -0.5px

.Header-brand
  padding: 4px
  background: $backgroundColorDark
  border-bottom: 1px solid $greyAccent

.Header-brand *
  display: inline-block
  vertical-align: middle

.Header-brand h2
  padding-left: 4px
  font-weight: 400
  font-size: 12px

.Header-controls
  background: $backgroundColorLight
  padding: 4px
  font-size: 12px
  border-bottom: 1px solid $greyAccent

.Header-controls a:hover
  text-decoration: underline

// Results Table
.ResultsTable
  border-collapse: collapse
  border-spacing: 0
  empty-cells: show
  font-size: 10.5px
  width: 100%
  border-bottom: 1px solid $greyAccent

.ResultsTable thead
  text-align: left
  vertical-align: bottom
  border-bottom: 1px solid $greyAccent

.ResultsTable tr
  background-color: $tableLight

.ResultsTable tr
  a,a:visited
    color: $ruleLinkColor

.ResultsTable--striped tr:nth-child(2n-1) td
  background-color: $tableDark

.ResultsTable td
  border-left: 1px solid $greyAccentLighter
  padding: 6px 4px

.ResultsTable th
  border-left: 1px solid $greyAccent
  padding: 8px 4px
  font-weight: 400px

.ResultsTable td,
.ResultsTable th
  margin: 0
  overflow: visible
  font-weight: 400

.ResultsTable td:first-child,
.ResultsTable th:first-child
    border-left-width: 0

.ResultsTable .message
  word-break: break-all

.ResultsTable .label
  word-break: keep-all

.filter
  color: $primaryColor

.type
  color: transparent
  font-size: 0


tr.error
  background: $errorColorBackground !important
  border-top: 1px solid $errorColorBorder !important
  border-bottom: 1px solid $errorColorBorder !important

tr.error
    a,a:visited
      color: $errorColorLink

.error .type:before
  content: " "
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" fill="#ffffff"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat $errorColor
  display: inline-block
  width: 10px
  height: 10px
  vertical-align: middle
  border-radius: 5px
  margin-right: 2px

tr.warning td
  background: $warningColorBackground !important
  border-top: 1px solid $warningColorBorder !important
  border-bottom: 1px solid $warningColorBorder !important

//tr.warning .type
//  min-width: 56px

.warning .type:before
  content: " "
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#F2BB00" d="M21.7 18.6L13.2 4.3c-.6-1.1-1.7-1.1-2.3 0L2.3 18.6c-.6 1.1-.2 1.9 1 1.9h17.4c1.2 0 1.6-.9 1-1.9zM13 18h-2v-2h2v2zm0-3h-2V8h2v7z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>') no-repeat
  display: inline-block
  width: 12px
  height: 12px
  vertical-align: middle
  margin-right: 2px

.info .type:before
  content: " "
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path fill="#2A53CD" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>') no-repeat
  display: inline-block
  width: 12px
  height: 12px
  vertical-align: middle
  margin-right: 2px
