@import "base"
@import "button"
@import "rules-temp"

.f19n-rules

.Wrapper
  margin-left: 16px
  max-width: 800px

.Header
  background: $backgroundColorDark

.Header .Wrapper * 
  display: inline-block
  vertical-align: middle

.Header-subHeader
  background: $backgroundColorLight

.Header-brandLink a,
.Header-brandLink a:hover
  color: $brandColor
  line-height: 24px

// Results Table
.RuleTable
  border-collapse: collapse
  border-spacing: 0
  empty-cells: show
  font-size: 12px
  margin-top: 1em
  width: 100%
  border: 1px solid $greyAccent

.RuleTable tr
  background-color: $tableLight
  border-top: 1px solid $greyAccent;

.RuleTable--striped tr:nth-child(2n-1) td
  background-color: $tableDark

.RuleTable td
  padding: 1em 1em
  overflow: visible

.RuleTable-ruleName
  cursor: pointer

.RuleTable-ruleName div
  margin-top: 1em

.RuleTable button + button
  margin-left: 2px !important

.RuleTable-ruleName span
  color: $greyAccentDarker
  display: block

.RuleTable-ruleActions
  width: 240px
  text-align: right
  vertical-align: top

.disabled .RuleTable-ruleName
  text-decoration: line-through



.add-rule, .edit-rule
  .error
    background: #c9302c
    border-radius: 5px
    padding: 10px
    color: white
